@font-face {
  font-family: 'iconfont';  /* Project id 3318003 */
  src: url('//at.alicdn.com/t/font_3318003_qcmqu0lpic.woff2?t=1649834656555') format('woff2'),
       url('//at.alicdn.com/t/font_3318003_qcmqu0lpic.woff?t=1649834656555') format('woff'),
       url('//at.alicdn.com/t/font_3318003_qcmqu0lpic.ttf?t=1649834656555') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yincangdaohang:before {
  content: "\e63d";
}

.icon-xianshidaohang:before {
  content: "\e63e";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-24gl-volumeDisable:before {
  content: "\ea0c";
}

.icon-24gl-volumeHigh:before {
  content: "\ea0d";
}

.icon-shangyishou_huaban:before {
  content: "\e636";
}

.icon-xiayishou_huaban:before {
  content: "\e637";
}

